.CodeMirror {
    border: 1px solid #4a5b79;
    height: auto;
    min-height: 148px;
}

.CodeMirror-gutters {
    min-height: 148px;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}
